header
  #sidenav
    #menuTop
      span#closeBtn(onclick="closeNav()") &times;
    a(href="/") Home
    a(href="/newbug") New Bug
    a(href="#") About
    a(href="/auth/logout") Logout
  span#menuOpener(onclick="openNav()") &#9776;
  script(type="text/JavaScript").
    function openNav() {
      document.getElementById("sidenav").style.width = "200px";
    }
    /* Set the width of the side navigation to 0 */
    function closeNav() {
      document.getElementById("sidenav").style.width = "0";
    }
