doctype html
html
  head
    title Bug Logger
    include includes/linkstyle
    style.
      #signInForm {
        background-color: purple;
        padding: 1.5em;
        max-width: 225px;
        margin: auto;
        border-radius: 0.2rem;
        border: 1px solid transparent;
      }
      .error {
        text-align: center;
        background-color: red;
      }
      a, a:visited {
        color: orange;
      }

      a:hover {
        font-weight: bold;
      }
  body
    h1#pageTitle Welcome to Bug Logger
    if errors
      each e in errors
        .error= e
    form#signInForm(action="/auth/login" method="post" title="You may register as a new user or try albert/123 to log in")
      label User Name
        br
        input#userName.halfBox(type="text" name="userName" required autofocus)
      br
      br
      label Password
        br
        input#password.halfBox(type="password" name="password" required)
      br
      br
      br
      #buttonArea
        input#submit.button(type="submit" value="Sign in")
      br
      hr
      #extraArea
        a#resetPwd(href="#") Forgot user name/password?
        | New user? 
        a(href="/auth/newuser") Register here  