doctype html
html
  head
    title Bug Logger - New Bug
    include includes/linkstyle
    style.
      #categoryArea {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 10px;/* in case two rows required when screen gets narrow */
      }
      #buttonArea {
        display: flex;/* just for centering of its child: submit button */
      }
      #submit {
        margin: auto;/*centering within a flex container */
      }
  body
    #msgLayer
      #msg The Bug is now recorded.
    include includes/navbar
    section
      h1#pageTitle Record a newly found Bug
      form#newBugForm
        label Title
          br
          input#title.box(type="text" name="title" placeholder="Briefly describe the bug" required)
        br
        br
        label Description
          br
          textarea#desc.box(name="desc" placeholder="Describe in details" required)
        br
        br
        #categoryArea
          label Priority
            br
            select#priority.halfBox(name="priority" required)
              option(value="" selected disabled) Select a level of priority
              each p in pList
                option(value=p) #{p}
          br
          br
          label Assign to
            br
            select#assignTo.halfBox(name="assignTo")
              option(value="" selected disabled) Select a person for this bug
        br
        br
        #buttonArea
          input#submit.button(type="submit" value="Submit")
    script(src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous")
    script(type="text/JavaScript").
      $(function() {
        $("#title").focus();
        $('#newBugForm').submit(function(e){
          e.preventDefault();
          $(this).attr('action', "/api/bugs");
          $.ajax({
            type: "POST",
            url: "/api/bugs",
            data: $(this).serialize(),
            success: function(data) {
              $("#msgLayer").css("visibility","visible");
              $("#msg").css("fontSize","200%");
              setTimeout(()=>{window.location.reload(true)}, 1000); 
            }
          });
        });
      });  